@import "bootstrap";
@import "bootflat";
@import "_breakpoints";
@import "_entity";

.no-entities-alert {
  @extend .alert;
  @extend .alert-info;
}

.entity-form-row {
  @extend .row;
  margin-bottom: 15px;
}

.main-logo {
  max-width: 225px;
}

.entity-form-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.new-turn-button {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-block;
}

.form-column {
  @extend .col-xs-12;
  @extend .col-sm-3;
}

li.drag-placeholder {
  padding: 14px 15px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  list-style: none;
}

li.drag-placeholder:before {
  content: "Drop here";
  color: #434a54;
  font-size: 14px;
}

.main-progress {
  @extend .progress-bar;
  @extend .progress-bar-striped;
  @extend .active;
  width: 100%;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

$footer-height: 265px;

.main-container {
  @extend .container;
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.footer-container {
  @extend .container;
  height: $footer-height;
}

.main-column {
  @extend .col-xs-12;
  @extend .col-md-8;
  @extend .col-md-offset-2;
}

.img-footer-logo {
  @extend .img-responsive;
  @include breakpoint(xs) {
    width: 50%;
  }
}

.nav-item {
  color: #aab2bd;
}